{% extends "base.html" %}

{% block title %} Sales&Stock {% endblock %}

{% block content %}
  <h1 class="page-header" align="center"><span class="text-primary">布料清单</span></h1>
  <a href="{% url 'record:cloth_add' %}" class="btn btn-info btn-block" role="button">添加新布料</a>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>编号</th>
        <th>品名</th>
        <th>类型</th>
        <th>材质</th>
        <th>纹路</th>
        <th>用途</th>
        <th>幅宽</th>
        <th>克重</th>
      </tr>
      </thead>
      <tbody>
      {% for cloth in cloth_list %}
        <tr>
          <td><a href="{% url 'record:cloth_detail' cloth.pk %}">{{ cloth.cloth_code }}</a></td>
          <td><a href="{% url 'record:cloth_detail' cloth.pk %}">{{ cloth.cloth_name }}</a></td>
          <td>{% if cloth.category %}{{ cloth.category }} {% endif %}</td>
          <td>{% if cloth.material %}{{ cloth.material }} {% endif %}</td>
          <td>{% if cloth.texture %}{{ cloth.texture }} {% endif %}</td>
          <td>{% if cloth.used_for %}{{ cloth.used_for }} {% endif %}</td>
          <td>{% if cloth.breadth %}{{ cloth.breadth }} {% endif %}</td>
          <td>{% if cloth.grams_per_m2 %}{{ cloth.grams_per_m2 }} {% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
  <a href="{% url 'record:cloth_add' %}" class="btn btn-info btn-block" role="button">添加新布料</a>
{% endblock %}