{% extends "base.html" %}

{% block title %} Sales&Stock {% endblock %}

{% block content %}
  <h1 class="page-header" align="center"><span class="text-primary">布料清单</span></h1>
  <a href="{% url 'record:cloth_add' %}" class="btn btn-info btn-block" role="button">添加新布料</a>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>幅宽</th>
        <th>用途</th>
        <th>克重</th>
      </tr>
      </thead>
      <tbody>
      {% for cloth in cloth_list %}
        <tr>
          <td><a href="{% url 'record:cloth_detail' cloth.pk %}">{{ cloth.cloth_code }}</a></td>
          <td><a href="{% url 'record:cloth_detail' cloth.pk %}">{{ cloth.cloth_name }}</a></td>
          <td>{{ cloth.breadth }}</td>
          <td>{{ cloth.used_for }}</td>
          <td>{{ cloth.grams_per_m2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
  <a href="{% url 'record:cloth_add' %}" class="btn btn-info btn-block" role="button">添加新布料</a>
{% endblock %}