{% extends "base.html" %}

{% block title %} Sales&Stock {% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1 class="page-header" align="center"><span
        class="text-primary">布料{{ cloth.cloth_code }}-{{ cloth.cloth_name }}更新</span></h1>

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "form_base.html" %}
      <div class="form-group">
        <label class="control-label col-sm-1" style="min-width: 120px"></label>
        <div class="col-sm-2" style="min-width: 240px">
          <input class="btn btn-info btn-block" type="submit" value="更新">
        </div>
      </div>
    </form>

    {% for image in cloth.clothimage_set.all %}
      <a href="/media/{{ image.image }}">
        <img src="/media/{{ image.thumbnail }}">
      </a>
      <button class="button btn-danger">删除</button>
    {% endfor %}
    <br><br>

    <a href="{% url 'record:cloth_list' %}" class="btn btn-primary btn-block">返回布料清单</a>
  </div>
{% endblock %}