{% extends "base.html" %}

{% block title %} Sales&Stock {% endblock %}

{% block content %}
  <h1 class="page-header">Dashboard Demo</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
           width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <h1 class="page-header" align="center">销售清单</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>单号</th>
        <th>顾客</th>
        <th>品种</th>
        <th>颜色</th>
        <th>总量</th>
        <th>总价</th>
        <th>日期</th>
      </tr>
      </thead>
      <tbody>
      {% for item in sales_list %}
        <tr>
          <td>{{ item.serial_no }}</td>
          <td>{{ item.customer.get_name }}</td>
          <td>{{ item.cloth.get_display_name }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.total_units }}</td>
          <td>{{ item.total_price }}</td>
          <td>{{ item.order_date }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <h3 class="col-sm-9" align="right">总计: {{ total }}</h3>
{% endblock %}