<form class="form-horizontal">
  {% for item in forms %}
    <div class="form-group">

      <label class="control-label col-sm-1" for="name">{{ item.label }}:</label>
      <div class="col-sm-2">
        <input class="form-control" type={{ item.input_type }}  name={{ item.name }}
               {% if item.place_holder %}placeholder={{ item.place_holder }}{% endif %}
                   {% if item.required %}required{% endif %}>
      </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
      <input class="btn btn-info btn-block" type="submit" value="提交">
    </div>
  </div>
</form>

<h1>Demo:</h1>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-1" for="name">Name</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="name" placeholder="Enter name" required>
      <p class="help">This is your email</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1" for="email">Email:</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1">Age:</label>
    <div class="col-sm-2">
      <input type="number" step="any" class="form-control" placeholder="0.0" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1">Birth Date:</label>
    <div class="col-sm-2">
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1">Browser:</label>
    <div class="col-sm-2">
      <input list="browsers" class="form-control" name="browser">
      <datalist id="browsers">
        <option value="中文1">
        <option value="中文2">
        <option value="Opera2">
        <option value="Safari">
      </datalist>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1">Comments:</label>
    <div class="col-sm-6">
      <textarea class="form-control" rows="8" id="comment" placeholder="Add comments"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-3">
      <input class="btn btn-info btn-block" type="submit" value="提交">
    </div>
  </div>
</form>


<form action="" oninput="x.value=parseInt(a.value)+parseInt(b.value)">
  <input type="range" id="a" name="a" value="50">
  <input type="number" id="b" name="b" value="50">
  <output name="x" for="a b"></output>
</form>