{% extends "base.html" %}

{% block title %} 添加销售数据 {% endblock %}

{% block content %}
  <script>
    function get_total_price(units, price) {
      document.getElementById('id_total_price').innerHTML = '' + units * price;
    }
    function set_current_date(id) {
      document.getElementById(id).value = moment().format('YYYY-MM-DD');
    }
  </script>

  <div class="container-fluid">
    <h1 class="page-header" align="center"><span class="text-primary">添加销售数据</span></h1>

    <form class="form-horizontal" action="" method="post"
          onchange="get_total_price(document.getElementById('id_price_per_unit').value,
          document.getElementById('id_total_units').value)">

      {% csrf_token %}

      {% include 'form_template.html' %}

      <body onload="set_current_date('id_order_date')"></body>

      <div class="form-group" id="order_details">
        <label class="control-label col-sm-1" style="min-width: 120px"><span class="text-primary bg-info">添加详细数据</span></label>
        <div class="row">
          {% for detail_row in '12345' %}
            <div class="col-sm-1" style="min-width: 120px">
              {% for detail_col in '1234' %}
                <input class="form-control" type="number" step="any"
                       name="order_details_{{ detail_row }}_{{ detail_col }}" maxlength="1000">
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-1" style="min-width: 120px"></label>
        <div class="col-sm-2" style="min-width: 240px">
          <input class="btn btn-info btn-block" type="submit" value="提交">
        </div>
      </div>
    </form>
  </div>

{% endblock %}